:root {
  --color-primary: #fefdff;
  --color-secondary: #111113;
  --color-secondary-gray: #4f4f4f;
  --color-secondary-gray2: #cecece;
  --color-secondary-gray3: #cfcfcf;
  --color-secondary-gray4: #2e2e2e;
  --color-secondary-orange: #e04622;
  --color-secondary-orange2: #ffe8dd;
  --color-secondary-orange3: #ff844b;
  --color-white: #fff;
  --color-black: #111116;
  --color-white-gray: #f5f5f5;
  --color-gray: #888;

  --font-family: "Poppins-Regular", sans-serif;
  --background: #fefdff;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.5rem;
  --text-xl: 1.875rem;
  --text-2xl: 2.5rem;
  --text-3xl: 2.875rem;
  --text-4xl: 3.25rem;
  --text-5xl: 3.5rem;
  --text-6xl: 4.5rem;
  --text-7xl: 5.25rem;
  --text-8xl: 5.5rem;
  --text-9xl: 11rem;
}

$bp-sm: 600px;
$bp-md: 700px;
$bp-lg: 1150px;
$bp-xl: 1400px;
$color-white: #fff;
$color-black: #111116;
$color-white-gray: #f5f5f5;
$color-gray: #888;
$color-primary: #fefdff;
$color-secondary: #111113;
$color-secondary-gray: #4f4f4f;
$color-modal-gray: rgba(79, 79, 79, 0.553);
$color-secondary-gray2: #cecece;
$color-secondary-gray3: #cfcfcf;
$color-secondary-gray4: #2e2e2e;
$color-secondary-orange: #e04622;
$color-secondary-orange2: #ffe8dd;
$color-secondary-orange3: #ff844b;

$color-bg-dark: #111116;
$color-text: #fff;
$color-success: #10b981; 
$color-error: #ef4444; 
$color-warning: #e04622; // Tu Naranja corporativo
$border-radius: 2rem;
$transition: 400ms;
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-md: 1.125rem;
$text-lg: 1.5rem;
$text-xl: 1.875rem;
$text-2xl: 2.5rem;
$text-3xl: 2.875rem;
$text-4xl: 3.25rem;
$text-5xl: 3.5rem;
$text-6xl: 4.5rem;
$text-7xl: 5.25rem;
$text-8xl: 5.5rem;
$text-9xl: 11rem;
$font-family: "Poppins-Regular", sans-serif;
$background: #fefdff;
