<div class="header">
  <div class="banner">
    <small>ventas Viernes Negro - 50%</small>
  </div>
  <div class="nav">
    <div class="logo">
      <label> NOS </label>
    </div>
    <ul class="container-nav">
      <li><a href="#products">Productos</a></li>
      <li><a href="#tech">Tecnologia</a></li>
      <li><a href="#support">Soporte</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>

    <div class="container-login">
      <div class="container-search">
        <input type="search" class="search-component" placeholder="Search" />
        <div class="icon">
          <img src="./assets/buscar.svg" alt="" />
        </div>
      </div>
      <div class="user-module">
        <small class="welcome"></small>
        <button color="gray2"  id="logout">Cerrar Sesion</button>
      </div>
      <div class="guest-module">
        <a href="login.html"><button color="">Iniciar sesión</button></a>
        <a href="register.html"><button color="white">Registrarse</button></a>
      </div>
    </div>
  </div>
</div>
