.containerCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $color-white;
  border-radius: 1rem;
  width: min-content;
  h3 {
    margin-top: 1rem;
    text-align: left;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    position: relative;
  }
  p {
    color: $color-secondary;
  }
}

.cardImage {
  width: 10rem;
  object-fit: cover;
  height: 10rem;
  background-color: $color-white-gray;
  border-radius: 1rem;
  padding: 1.5rem;
}

.footer img {
  width: 1.5rem;
  object-fit: cover;
  height: 1.5rem;
  transform: rotate(180deg);
}
