.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  grid-gap: 0 2rem;
  padding: 30px 60px;
  padding-right: 0;
}

.containerProducts {
  overflow: hidden;
  text-align: center;
  margin-bottom: 10rem;
}

