<div class="container-products">
  <h1>Diseñados para sentir cada nota con claridad y emoción.</h1>

  <div class="slider">
    <div class="card-product">
      <div class="new-item">
        <small>Nuevo</small>
      </div>
      <div class="cover">
        <img
          class="cart-image"
          src="./assets/NOS-Spek.png"
          alt="Product Image"
        />
      </div>
      <div class="description">
        <strong>NOS Spek</strong>
        <small>Premium Speaker</small>
      </div>
    </div>
    <div class="card-product">
      <div class="cover">
        <img class="cart-image" src="./assets/NOS-Os.png" alt="Product Image" />
      </div>
      <div class="description">
        <strong>NOS Os</strong>
        <small>Premium Speaker</small>
      </div>
    </div>
    <div class="card-product">
      <div class="cover">
        <img
          class="cart-image"
          src="./assets/Z9-Pro-productos.png"
          alt="Product Image"
        />
      </div>
      <div class="description">
        <strong>Z9 Pro</strong>
        <small>Headphones Premium</small>
      </div>
    </div>
    <div class="card-product">
      <div class="cover">
        <img
          class="cart-image"
          src="./assets/NOS-Son 3.png"
          alt="Product Image"
        />
      </div>
      <div class="description">
        <strong>NOS Son 3</strong>
        <small>Premium Earphones</small>
      </div>
    </div>
    <div class="card-product">
      <div class="cover">
        <img
          class="cart-image"
          src="./assets/X1-Pro-productos.png"
          alt="Product Image"
        />
      </div>
      <div class="description">
        <strong>X1 Pro</strong>
        <small>Premium Headphones</small>
      </div>
    </div>
    <div class="card-product">
      <div class="cover">
        <img
          class="cart-image"
          src="./assets/Z11-Pro.png"
          alt="Product Image"
        />
      </div>
      <div class="description">
        <strong>Z11 Pro</strong>
        <small>Headphones Premium</small>
      </div>
    </div>
  </div>
</div>
