.columnElements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
}

@include mobile {
  .columnElements {
    gap: 2rem;
  }
}
