<div class="general-container">
  <div class="container-contact">
    <div class="contact">
      <section id="contact"></section>
      <ul class="container-nav">
        <li><a href="#products">Productos</a></li>
        <li><a href="#tech">Tecnologia</a></li>
        <li><a href="#support">Soporte</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
      <h1>¿Tienes alguna consulta? Estamos aquí para ti</h1>
      <div class="details">
        <div class="item-details">
          <p>TELEFONO</p>
          <strong>+593 1234 567</strong>
        </div>
        <div class="item-details">
          <p>E-MAIL</p>
          <strong>support@nos.com</strong>
        </div>
        <div class="item-details">
          <p>DIRECCION</p>
          <strong>Av. Ladrón de Guevara E11-253, Quito 170143</strong>
        </div>
      </div>
      <div class="details">
        <h3>Contáctanos y obtén asistencia personalizado</h3>
        <div class="item-details">
          <input
            type="email"
            class="input-component input-white"
            placeholder="Email address"
          />
          <button color="black2">Enviar</button>
        </div>
      </div>
      <div class="socials desktop">
        <img src="./assets/facebook.svg" alt="" />
        <img src="./assets/instagram.svg" alt="" />
        <img src="./assets/youtube.svg" alt="" />
        <img src="./assets/linkedin.svg" alt="" />
      </div>
    </div>
    <div class="slider-poster">
      <div class="slide-track" id="poster-carousel">
        <div class="poster">
          <div class="details">
            <div>
              <h3>CJ 7 Pro</h3>
              <p>Headphones Premium</p>
            </div>
          </div>
          <img src="./assets/CJ-7Pro.jpg" alt="" />
        </div>
        <div class="poster">
          <div class="details">
            <div>
              <h3>CJ 7</h3>
              <p>Headphones Premium</p>
            </div>
          </div>
          <img src="./assets/CJ-7.jpg" alt="" />
        </div>
        <div class="poster">
          <div class="details">
            <div>
              <h3>Z9 Pro</h3>
              <p>Headphones Premium</p>
            </div>
          </div>
          <img src="./assets/Z9-Pro.jpg" alt="" />
        </div>
        <div class="poster">
          <div class="details">
            <div>
              <h3>CJ 7 Pro</h3>
              <p>Headphones Premium</p>
            </div>
          </div>
          <img src="./assets/CJ-7Pro.jpg" alt="" />
        </div>
        <div class="poster">
          <div class="details">
            <div>
              <h3>CJ 7</h3>
              <p>Headphones Premium</p>
            </div>
          </div>
          <img src="./assets/CJ-7.jpg" alt="" />
        </div>
        <div class="poster">
          <div class="details">
            <div>
              <h3>Z9 Pro</h3>
              <p>Headphones Premium</p>
            </div>
          </div>
          <img src="./assets/Z9-Pro.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="socials mobile">
      <img src="./assets/facebook.svg" alt="" />
      <img src="./assets/instagram.svg" alt="" />
      <img src="./assets/youtube.svg" alt="" />
      <img src="./assets/linkedin.svg" alt="" />
    </div>
  </div>
</div>
