.containerModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: $color-modal-gray;
  backdrop-filter: blur(0.2rem);
  justify-content: center;
  align-items: center;
  padding: 5rem;


  display: none;
  opacity: 0;
  pointer-events: none;

  &.active {
    display: flex;
    pointer-events: auto;
    animation: modalAnimation 0.3s ease-out forwards;
  }
}
.cardModal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 50rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  .closeIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  &.active {
    animation: cardAnimation 0.3s ease-out forwards;
  }
  .cardImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white-gray;

  }
  .resume {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: $color-white;
    gap: 1rem;
    li {
      margin-left: 1rem;
      &::marker {
        color: $color-secondary-orange3;
      }
    }
    b {
      color: $color-secondary-orange3;
    }
  }
}
@keyframes modalAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}           
@keyframes cardAnimation {
  from {
    transform: scale(0.95) translateY(2rem);

  }
  to {
    transform: scale(1) translateY(0);
  }
}
@include mobile {
  .cardModal {
    .cardImage {
      padding: 1rem 0;
    }
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    .cardImage {
      background-color: $color-white-gray;
    }
  }
}
