.containerModal {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-modal-gray;
  backdrop-filter: blur(0.2rem);
  justify-content: center;
  align-items: center;
  padding: 5rem;
  z-index: 10;
  overflow: hidden;
  .childrenContent {
    width: max-content;
    height: min-content;
    position: relative;
    bottom: 1rem;
  }

  display: none;
  opacity: 0;
  pointer-events: none;

  &.active {
    display: flex;
    pointer-events: auto;
    animation: modalAnimation 0.3s ease-out forwards;
  }
  .closeIcon {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    .icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
@include mobile {
  .closeIcon {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10;
    .icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
@keyframes modalAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
