.containerContact {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
  border-radius: 2rem;
  color: var(--color-primary);
  overflow: hidden;
  padding: 4rem;
  gap: 5%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ul {
    width: min-content;
  }
  h1 {
    color: var(--color-primary);
  }
  p {
    color: var(--color-secondary-gray);
  }
  .details {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    h3 {
      line-height: normal !important;
    }
  }
}
.itemDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.containerNav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: min-content;
  .icons {
    height: 1.2rem;
  }
}
.socials {
  display: flex;
  gap: 1rem;
  height: var(--text-lg);
  img {
    height: 100%;
    object-fit: cover;
    width: auto;
  }
}
.desktop {
  display: flex;
}
.sliderPoster {
  position: relative;
  overflow: hidden;

  border-radius: 1.5rem;
  width: 25vw;
  height: 100%;
}
.slidetrack {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto, 100%);
  width: auto;

  scrollbar-width: none;

  -ms-overflow-style: none;
}
.poster {
  height: auto;
  position: relative;
  img {
    width: 25vw;
    height: 100%;
    object-fit: cover;
  }
  .details {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
  }
}
.mobile {
  display: none;
}

@include mobile {
  .containerContact {
    padding: 2rem;
    flex-direction: column;
    gap: 3rem;
  }
  .contact {
    gap: 3rem;
    .details {
      display: flex;
      flex-direction: column;
    }
    h1 {
      display: inline-block;
      white-space: inherit;
    }
  }
  .containerNav {
    display: none;
  }
  .itemDetails {
    flex-direction: row;
  }
  .desktop {
    display: none;
  }
  .sliderPoster {
    width: auto;
  }
  .poster {
    width: 100%;
    width: auto;
    object-fit: cover;
    img {
      width: calc(100vw - 5.5rem);
      height: 100%;
      object-fit: cover;
    }
  }
  .mobile {
    display: flex;
  }
}
