.containerTech {
  background-color: $color-black;
  border-radius: 3rem;
  overflow: hidden;
  padding: 4rem;
  color: $color-primary;
  position: relative;
  .title {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  h1,
  h3,
  small {
    color: $color-primary;
  }
  h1 {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    position: absolute;
    width: 35%;
    z-index: 0;
    opacity: 1;
    transform: translateY(0);
    transition: 400ms;
  }
  .textGonnaChangue {
    opacity: 0;
    transform: translateY(-1rem);
    transition: 400ms;
  }
  .sliderContainer {
    background-color: $color-black;
  }
}
.techResume {
  opacity: 1;
  transform: translateY(0);
  transition: 400ms;
}
.tech-resume-gonna-change {
  opacity: 0;
  transform: translateY(-1rem);
  transition: 400ms;
}
.btnTechActive {
  filter: invert(0);
}
.btnPrev,
.btnNext {
  filter: invert(50%);
  height: $text-xl;
  object-fit: cover;
  width: auto;
}

.slide::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.slide {
  z-index: 10;

  display: flex;
  gap: 25%;

  overflow-x: scroll;

  scroll-behavior: smooth;
  overflow-y: hidden;

  scrollbar-width: none;
  align-items: end;
}
.hidden {
  visibility: hidden;
}
.itemSlide {
  flex: 0 0 calc((75%) * 0.3);
  width: 10%;
  height: 40%;
  transition:
    flex-basis 0.5s ease,
    opacity 0.5s ease;
  border-radius: 1rem;
  overflow: hidden;

  transition: 800ms;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
  }
}
.active {
  width: 40%;
  height: 100%;

  transition: 800ms;
  flex: 0 0 calc((75%) * 0.7);
}
.icons {
  height: $text-xl;
  object-fit: cover;
  width: auto;
}

@include mobile {
  .containerTech {
    overflow: hidden;
    width: 100%;
    .description {
      position: relative;
      max-width: auto;
      width: auto;
    }
    h1 {
      text-align: center;
    }
    .description {
      position: relative;
      padding-bottom: 1rem;
    }
  }
  .resume {
    text-align: center;
  }
  .slide {
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: hidden;

    height: 60dvh;

    align-items: stretch;
    scroll-snap-type: y mandatory;

    gap: 2rem;
  }
  .slide > :first-child {
    visibility: hidden;
    display: none;
  }
  .itemSlide {
    width: 80%;
    margin: 0 auto;

    height: auto;

    flex: 0 0 25%;
  }
  .active {
    width: 100%;

    height: auto;

    flex: 0 0 70%;
  }
}
