.cardModal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 50rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  z-index: 6;
  &.active {
    animation: cardAnimation 0.3s ease-out forwards;
  }
  .cardImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white-gray;
  }
  .resume {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: $color-white;
    gap: 1rem;
    li {
      margin-left: 1rem;
      &::marker {
        color: $color-secondary-orange3;
      }
    }
    b {
      color: $color-secondary-orange3;
    }
  }
}

@include mobile {
  .cardModal {
    .cardImage {
      padding: 1rem 0;
    }
    display: flex;
    flex-direction: column;
    width: calc(100dvw - 2rem);
    .cardImage {
      background-color: $color-white-gray;
    }
  }
}
@keyframes cardAnimation {
  from {
    transform: scale(0.95) translateY(2rem);
  }
  to {
    transform: scale(1) translateY(0);
  }
}
