.icon {
  position: absolute;
  right: 0.5rem;
  width: 2rem;
  height: auto;
  object-fit: cover;
}
.generalContainer {
  padding: 0.5rem;
  position: relative;
}
.cardImage {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}
