<div class="general-container">
  <div class="container-tech">
    <h1>
      Calidad inigualable, funciones inteligentes, y tecnologías innovadoras
    </h1>
    <section id="tech"></section>
    <div class="description">
      <div class="tech-resume">
        <div class="title">
          <img src="./assets/calidad-de-sonido.svg" class="icons" alt="" />
          <h3 class="title-tech"></h3>
        </div>
        <div class="resume">
          <small class="desc-tech"> </small>
        </div>
      </div>
      <div class="title">
        <button class="">
          <img src="./assets/flecha-blanca-isq.svg" class="btnPrev" alt="" />
        </button>
        <button class="">
          <img
            src="./assets/flecha-blanca-der.svg"
            class="btnNext btn-tech-active"
          />
        </button>
      </div>
    </div>
    <div class="slide">
      <div class="item-slide"></div>
      <div class="item-slide active">
        <img src="./assets/Os-Ultra.jpg" alt="" />
      </div>
      <div class="item-slide">
        <img src="./assets/Z11-Pro-tecnologia.jpg" alt="" />
      </div>
      <div class="item-slide">
        <img src="./assets/Pd-Buds Pro.jpg" alt="" />
      </div>
      <div class="item-slide">
        <img src="./assets/X1-Pro-tecnologia.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
