.cardModal {
  background-color: $color-white-gray;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  box-shadow: 1rem 1rem 2rem $color-secondary-gray2;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  padding: $text-md;
  background-color: $color-secondary;
  padding: 2rem 4rem;
  position: relative;
}

.itemsForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  justify-content: center;
  align-items: center;
}
.footerCard {
  display: flex;
}
.forgotLink {
  color: $color-gray;
  cursor: pointer;
  text-align: end;
  width: 100%;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errorMsg {
  min-height: 1.1rem;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  font-weight: 500;
  margin-bottom: -1rem;
  animation: fadeIn 0.3s ease-in;
  color: $color-secondary-orange;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
