.cardProduct {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min-content;
  position: relative;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  .cover {
    padding: 2rem 1rem;
    background-color: $color-white-gray;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
  .cover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-secondary-gray;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover .cover::after {
    opacity: 0.3;
    transition: all 0.3s ease;
  }

  .showMore {
    position: absolute;
    z-index: 2;
    background-color: $color-white-gray;
    padding: 1rem 2rem;
    border-radius: 2rem;
    opacity: 0;
    transition: 200ms;
    transform: scale(0);
  }
  &:hover .showMore {
    opacity: 1;
    transform: scale(1);
    transition: 200ms;
    transition-delay: 100ms;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.newItem {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  background-color: $color-secondary-orange;
  color: $color-secondary-orange2;
  padding: 0.5rem 0.6rem;
  border-radius: 0.5rem;
  z-index: 2;
  display: flex;
}

@include mobile {
  .description {
    justify-content: center;
    align-items: center;
  }
}
