<div class="general-container">
  <div class="container-support">
    <div class="display-2 down">
      <span>Soporte <span class="orange">Nos</span></span>
    </div>

    <div class="support-items">
      <div class="list-item blur">
        <h4>Auriculares</h4>
        <h3>CJ 7 Pro</h3>
        <h3>CJ 7</h3>
        <h3>Z11 Pro</h3>
        <h3>Z9 Pro</h3>
        <h3>X1 PRO</h3>
      </div>
      <div class="list-item blur">
        <h4>Audífonos</h4>
        <h3>NOS Z7 Fit</h3>
        <h3>NOS U +</h3>
        <h3>bd Buds 5 Pro</h3>
        <h3>bd Buds 5</h3>
        <h3>Pd Buds Pro</h3>
        <h3>Pd Buds</h3>
      </div>
      <div class="list-item blur">
        <h4>Altavoces</h4>
        <h3>NOS Spek Pro</h3>
        <h3>NOS Spek</h3>
        <h3>NOS Os Ultra</h3>
        <h3>NOS Os</h3>
      </div>
    </div>
  </div>
</div>
