<div class="general-container">
        <div class="container-portrait">
          <div class="container-background">
            <img src="./assets/fondo.jpg" alt="" />
          </div>
          <div class="container-person">
            <img src="./assets/person.png" alt="" />
          </div>
          <div class="container-text display-1 startDown">
            <h6>Mas que Audio</h6>
          </div>
          <div class="content-portrait">
            <div class="explorer-container">
              <small>
                Revoluciona tu experiencia auditiva con sonido de alta
                definición y tecnología inteligente que se adapta a ti.
              </small>
              <button color="white">Explorar productos</button>
            </div>
            <div class="container-card">
              <div class="cart-portrait">
                <img
                  class="cart-image"
                  src="./assets/nos-x1-pro.png"
                  alt="Product Image"
                />
                <h3>NOS X1 Pro</h3>
                <div class="footer">
                  <p>Ver mas</p>
                  <img src="./assets/flecha.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>