.containerPortrait {
  height: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: -3rem;
}

.containerPerson {
  position: absolute;
  z-index: 2;
  .person {
    width: auto;
    height: 60rem;
    object-fit: cover;
  }
}

.contentPortrait {
  display: flex;
  z-index: 4;
  justify-content: space-between;
  padding: 2.5rem 1.5rem;
  align-items: end;
  width: 100%;
}
.containerBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 200% !important;
  width: 200%;
}
.containerText {
  z-index: 0;
  color: white;
  margin-top: 17rem;
  position: relative;
  h6 {
    font-size: $text-9xl;
    overflow: hidden;

    word-spacing: 0.5rem;
    background: radial-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.8),
      rgb(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    white-space: nowrap;
  }
}
.explorerContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 2rem;
  small {
    max-width: 18rem;
    color: $color-primary;
    font-family: "Poppins-Regular";
  }
}

@include mobile {
  .containerPerson {
    bottom: 0;
    .person {
      height: 45rem;
    }
  }
  .contentPortrait {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: $text-9xl;
  }
  .containerText {
    margin-top: 2rem;
    position: absolute;
    h6 {
      line-height: 1.4;
      margin-bottom: 3rem;
      letter-spacing: 0.15rem;
      white-space: inherit;
    }
  }
  .containerBackground {
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      position: relative;
      display: flex;
    }
  }
  .explorerContainer {
    order: 2;
  }
}
