<ul class="container-nav-mobile">
  <li>
    <img src="./assets/headphones-icon.svg" class="icons" /><a href="#products"
      >Productos</a
    >
  </li>
  <li>
    <img src="./assets/tech-icon.svg" class="icons" /><a href="#tech"
      >Tecnologia</a
    >
  </li>
  <li>
    <img src="./assets/support-icon.svg" class="icons" /><a href="#support"
      >Soporte</a
    >
  </li>
  <li>
    <img src="./assets/contact-icon.svg" class="icons" /><a href="#contact"
      >Contacto</a
    >
  </li>
</ul>
