<div class="container-questions">
  <h1>Preguntas Frecuentes</h1>
  <div class="question right">
    <a class="btn-question" id="question-1">
      <div class="question-item">
        <h3>¿Cuánto dura la batería de mis audífonos o parlantes?</h3>
        <img
          src="./assets/flecha-preguntas.svg"
          alt=""
          class="icons question-img"
        />
      </div>
    </a>
    <small class="desc-question" id="desc-question-1">
      La duración de la batería varía según el modelo y la marca, pero
      generalmente es de 10 horas o más.
    </small>
  </div>
  <div class="question right">
    <a class="btn-question" id="question-2">
      <div class="question-item">
        <h3>¿Cómo funciona la tecnología de cancelación de ruido?</h3>

        <img
          src="./assets/flecha-preguntas.svg"
          alt=""
          class="icons question-img"
        />
      </div>
    </a>
    <small class="desc-question" id="desc-question-2">
      La tecnología de cancelación de ruido funciona eliminando el ruido
      ambiental, permitiendo que solo pasen los sonidos deseados.
    </small>
  </div>
  <div class="question right">
    <a class="btn-question" id="question-3">
      <div class="question-item">
        <h3>¿Los productos son resistentes al agua y al sudor?</h3>

        <img
          src="./assets/flecha-preguntas.svg"
          alt=""
          class="icons question-img"
        />
      </div>
    </a>
    <small class="desc-question" id="desc-question-3">
      Sí, nuestros productos son resistentes al agua y al sudor, lo que los hace
      ideales para usos diarios.
    </small>
  </div>
  <div class="question right">
    <a class="btn-question" id="question-4">
      <div class="question-item">
        <h3>¿Realizan envíos internacionales?</h3>

        <img
          src="./assets/flecha-preguntas.svg"
          alt=""
          class="icons question-img"
        />
      </div>
    </a>
    <small class="desc-question" id="desc-question-4">
      Sí, realizamos envíos internacionales a todo el mundo.
    </small>
  </div>
  <div class="question right">
    <a class="btn-question" id="question-5">
      <div class="question-item">
        <h3>¿Puedo rastrear mi pedido?</h3>

        <img
          src="./assets/flecha-preguntas.svg"
          alt=""
          class="icons question-img"
        />
      </div>
    </a>
    <small class="desc-question" id="desc-question-5">
      Sí, puedes rastrear tu pedido ingresando el número de seguimiento
      proporcionado en la confirmación de compra.
    </small>
  </div>
</div>
