<div class="column-elements">
  <div class="display-3 text" data-word="Sonido">
    <div class="float-image float-image-activation">
      <img src="./assets/sonido.jpg" alt="" />
    </div>
    Sonido
  </div>
  <div class="display-3 text" data-word="Premium">
    <div class="float-image float-image-activation">
      <img src="./assets/premium.jpg" alt="" />
    </div>
    Premium
  </div>
  <div class="display-3 text" data-word="Tecnología">
    <div class="float-image float-image-activation">
      <img src="./assets/tecnologia.jpg" alt="" />
    </div>
    Tecnología
  </div>
  <div class="display-3 text" data-word="Calidad">
    <div class="float-image float-image-activation">
      <img src="./assets/calidad.jpg" alt="" />
    </div>
    Calidad
  </div>
  <div class="display-3 text" data-word="Estilo">
    <div class="float-image float-image-activation">
      <img src="./assets/estilo.png" alt="" />
    </div>
    Estilo
  </div>
  <section id="tech"></section>
</div>