.containerSearch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
}

.searchComponent {
  width: 9rem;
  padding: 0.5rem 0.75rem;
  font-size: var(--text-sm);
  border: 1px solid var(--color-secondary-gray2);
  transition: 200ms ease;
  outline: none;
  box-shadow: none;
  appearance: none;
  height: min-content;
  border-radius: 2rem;
}

.searchComponent::placeholder {
  color: var(--color-secondary-gray);
  opacity: 1;
}

.searchComponent:focus {
  border-color: var(--color-secondary-gray);
  width: 12rem;
}
@include mobile {
  .containerSearch {
    display: none;
  }
}
