.servicesContainer {
  text-align: center;
  padding: 1rem 0;
  h1{
    margin-bottom:1.5rem;
  }
}

.serviceItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  h3 {
    font-family: "Poppins-light";
    color: $color-secondary-gray4;
  }
  img {
    width: 40%;
    height: auto;
    object-fit: cover;
  }
  strong {
    font-family: "Poppins-Medium";
    padding-top: 1rem;
  }
}

.servicesContainer {
  text-align: center;
  padding: 1rem 0;
}
.serviceItems {
  animation: fadedown both;
  animation-timeline: view(10% 2%);
  animation-delay: 6s;
}

@include mobile {
  .serviceItems {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    img {
      width: 20%;
    }
  }
}
